<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}} - Cadastro</title>
</head>
<body>
   <!--Formulário-->
   <form action= "/salvar-empresa">
        <label for = "">Nome:</label>
        <input type="text" placeholder="Digite o nome" name="nome" id=""><br/>
        <label for = "">E-mail:</label>
        <input type="text" placeholder="Digite o e-mail" name="email" id=""><br/>
        <input type="submit" value= "Salvar">
    </form>
    <br/><br/>
    <a href="/empresa">Voltar para a lista</a>
</body>
</html>