<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
</head>
<body>
    <h1>Empresas</h1>
    <a href="/cadastro-empresa">Cadastrar Nova</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for e in empresas %}
                <tr>
                    <td>{{e.nome}}</td>
                    <td>{{e.email}}</td>
                </tr>
            {% endfor %} 
        </tbody>  
        
        
    </table>
    <br>   
    <a href='/'>Voltar</a>
</body>
</html>